ACTC101.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ACTC101"
	xmlns="http://www.cip-bancos.org.br/ARQ/ACTC101.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:cat="http://www.cip-bancos.org.br/catalogomsg"
	targetNamespace="http://www.cip-bancos.org.br/ARQ/ACTC101.xsd"
	elementFormDefault="qualified" version="1.6.4">	
	
	<!-- Definição dos Tipos Globais -->
	
  <xs:annotation>
    <xs:documentation>
      Definição de tipos globais do SEC - CTC.
    </xs:documentation>
  </xs:annotation>

  <!-- Definição do ACTCDOC do arquivo PRO -->
  <xs:complexType name="ACTCDOCPROComplexType">
    <xs:sequence>
      <xs:element name="BCARQ" type="BCARQComplexType" />
    </xs:sequence>
  </xs:complexType>

  <!-- Definição do ACCCDOC do arquivo ERR -->
  <xs:complexType name="ACTCDOCERRComplexType">
    <xs:sequence>
      <xs:element name="BCARQ" type="BCARQERRComplexType" />
    </xs:sequence>
  </xs:complexType>

  <!-- Definição do BCARQ do arquivo -->
  <xs:complexType name="BCARQComplexType">
    <xs:sequence>
      <xs:element name="NomArq" type="Nome">
        <xs:annotation>
          <xs:documentation>
              Nome do Arquivo
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumCtrlEmis" type="ControleIF">
        <xs:annotation>
          <xs:documentation>
              Número de Controle do Emissor
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumCtrlDestOr" type="ControleIF" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
              Número de Controle do Destinatário Original
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISPBEmissor" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
              ISPB do Emissor
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISPBDestinatario" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
              ISPB do Destinatário
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtHrArq" type="DataHora">
        <xs:annotation>
          <xs:documentation>
              Data e Hora de envio
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SitReq" type="SitReq" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
              Situação Requisição
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_Seq" type="Grupo_SeqComplexType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
              Grupo Sequência
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtRef" type="Data">
        <xs:annotation>
          <xs:documentation>
              Data de Referência
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Grupo_SeqComplexType">
    <xs:sequence>
      <xs:element name="NumSeq" type="NumSeq">
        <xs:annotation>
          <xs:documentation>
            Número Sequência
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndrCont" type="Indr">
        <xs:annotation>
          <xs:documentation>
            Indicador Continuidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Definição do BCARQ do arquivo ERR -->
  <xs:complexType name="BCARQERRComplexType">
    <xs:sequence>
      <xs:element name="NomArq" type="NomArqCodErr_ComplexType">
        <xs:annotation>
          <xs:documentation>
            Nome do Arquivo
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Definição do ESTARQ do arquivo -->
  <xs:simpleType name="ESTARQSimpleType">
    <xs:annotation>
      <xs:documentation>
        Copia do conteudo das informacoes de estimulo,
        quando houverem.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="512000" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Definição do tipos do evento e com atributo para retorno de codigo de erro -->

  <xs:simpleType name="AnoMes">
    <xs:annotation>
      <xs:documentation>
        Ano e mês no formato AAAA-MM, onde AAAA = ano, MM = mês
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}-\d{2}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="AnoMes_CodErro">
    <xs:annotation>
      <xs:documentation>
            Ano e mês no formato AAAA-MM, onde AAAA = ano, MM = mês com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="AnoMes">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name='Agencia'>
    <xs:annotation>
      <xs:documentation>
          Número da agência da instituição que atua no sistema financeiro, sem dígito verificador.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='4'/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="Agencia_CodErro">
    <xs:annotation>
      <xs:documentation>
            Número da agência da instituição que atua no sistema financeiro, 
            sem dígito verificador com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Agencia">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CEP">
    <xs:annotation>
      <xs:documentation>
        CEP
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="8" />
      <xs:maxLength value="8" />
      <xs:pattern value="\d{8}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CEP_CodErro">
    <xs:annotation>
      <xs:documentation>
        CEP com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CEP">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CidEnd">
    <xs:annotation>
      <xs:documentation>
        Cidade do endereço
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CidEnd_CodErro">
    <xs:annotation>
      <xs:documentation>
        Cidade do endereço com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CidEnd">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CNPJ">
    <xs:annotation>
      <xs:documentation>
        Numero de Identificação da Pessoa Jurídica no
        Cadastro Nacional de Pessoa Jurídica.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{14}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CNPJ_CodErro">
    <xs:annotation>
      <xs:documentation>
        Numero de Identificação da Pessoa Jurídica no
        Cadastro Nacional de Pessoa Jurídica com código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CNPJ">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CNPJ_CPF">
    <xs:annotation>
      <xs:documentation>
        Numero de Identificação da Pessoa Jurídica no
        Cadastro Nacional de Pessoa Jurídica ou o Número
        no Cadastro de Pessoa Física. No caso de
        transferência para pessoas isentas de CNPJ ou
        CPF, o campo CNPJ ou CPF deve ser preenchido com zero.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{11}||\d{14}" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CNPJ_CPF_CodErro">
    <xs:annotation>
      <xs:documentation>
        Número de identificação da Pessoa Juridica no Cadastro Nacional de Pessoa Jurídica 
        ou o Número no Cadastro de Pessoa Física com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CNPJ_CPF">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CNPJBase">
    <xs:annotation>
      <xs:documentation>
        Primeiras 8 posições do CNPJ.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{8}"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CNPJBase_CodErro">
    <xs:annotation>
      <xs:documentation>
         CNPJ base com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CNPJBase">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CodContrtoOr">
    <xs:annotation>
      <xs:documentation>
          Código do contrato original
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="40" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CodContrtoOr_CodErro">
    <xs:annotation>
      <xs:documentation>
            Código do contrato original com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CodContrtoOr">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CodContrtoSCR">
    <xs:annotation>
      <xs:documentation>
        Código de identificação do contrato SCR
        Código alfanumérico interno da IF identificador do contrato.
        Deverá ser preenchido exatamente com o mesmo conteúdo que é informado no layout SCR 3040
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CodContrtoSCR_CodErro">
    <xs:annotation>
      <xs:documentation>
        Código SCR do contrato com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CodContrtoSCR">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="CodEvtTar">
    <xs:annotation>
      <xs:documentation>
        Código de evento de tarifa
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CodEvtTar_CodErro">
    <xs:annotation>
      <xs:documentation>
        Código de evento de tarifa com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CodEvtTar">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name='CodIF'>
    <xs:annotation>
      <xs:documentation>
        Código IF utilizado na compensação.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='\d{3}'/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CodIF_CodErro">
    <xs:annotation>
      <xs:documentation>
            Código IF utilizado na compensação com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CodIF">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name='CodMoeda'>
    <xs:annotation>
      <xs:documentation>
        Código da moeda no padrão CNAB.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='2'/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CodMoeda_CodErro">
    <xs:annotation>
      <xs:documentation>
            Código da moeda no padrão CNAB com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CodMoeda">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name='CondcDivgte'>
    <xs:annotation>
      <xs:documentation>
        Condição de Divergência
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='3'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name='CondcDivgte_CodErro'>
    <xs:annotation>
      <xs:documentation>
        Condição de Divergência com atributo para código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CondcDivgte">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="ControleIF">
    <xs:annotation>
      <xs:documentation>
        Número de Controle da IF
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ControleIF_CodErro">
    <xs:annotation>
      <xs:documentation>
            Número único de controle gerado pela IF com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ControleIF">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CPF">
    <xs:annotation>
      <xs:documentation>
        Número no Cadastro de Pessoa Física
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{11}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CPF_CodErro">
    <xs:annotation>
      <xs:documentation>
        Número no Cadastro de Pessoa Física com código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CPF">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name='CtBancaria'>
    <xs:annotation>
      <xs:documentation>
        Número da conta bancária, com dígito verificador.
        Se o dígito verificador for alfa, devera ser substituido por "0" (zero).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='13'/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="CtBancaria_CodErro">
    <xs:annotation>
      <xs:documentation>
        Número da conta bancária, com dígito verificador com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="CtBancaria">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Data">
    <xs:annotation>
      <xs:documentation>
        Data no formato AAAA-MM-DD. Onde
        AAAA = ano,
        MM = mes
        [01-12],
        DD = dia [01-31].
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="Data_CodErro">
    <xs:annotation>
      <xs:documentation>
            Data com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Data">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="DataHora">
    <xs:annotation>
      <xs:documentation>
        Data e hora no formato AAAA-MM-DDThh:mm:ss. 
        Onde
          AAAA = ano,
          MM = mes [01-12],
          DD = dia [01-31],
          hh = horas [00-23],
          mm = minutos [00-59],
          ss = segundos [00-59].
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="DataHora_CodErro">
    <xs:annotation>
      <xs:documentation>
            Data e hora no formato AAAA-MM-DDThh:mm:ss com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="DataHora">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Email">
    <xs:annotation>
      <xs:documentation>
        Email do Cliente
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="5" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Email_CodErro">
    <xs:annotation>
      <xs:documentation>
            Email com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Email">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="EnqdmntContrto">
    <xs:annotation>
      <xs:documentation>
        Enquadramento do Contrato
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="EnqdmntContrto_CodErro">
    <xs:annotation>
      <xs:documentation>
        Enquadramento do contrato com código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="EnqdmntContrto">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="FluxoPagto">
    <xs:annotation>
      <xs:documentation>
        Fluxo de Pagamento
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="FluxoPagto_CodErro">
    <xs:annotation>
      <xs:documentation>
            Fluxo de Pagamento com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="FluxoPagto">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Indr">
    <xs:annotation>
      <xs:documentation>
        Indicador 'Sim' ou 'Nao'
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="S" />
      <xs:enumeration value="N" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="Indr_CodErro">
    <xs:annotation>
      <xs:documentation>
            Indicador 'Sim' ou 'Nao' com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Indr">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="IndRemun">
    <xs:annotation>
      <xs:documentation>
        Índice Remuneração
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="IndRemun_CodErro">
    <xs:annotation>
      <xs:documentation>
        Índice Remuneração com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="IndRemun">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name='MtvCanceltPortldd'>
    <xs:annotation>
      <xs:documentation>
        Motivo de Cancelamento da Portabilidade.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='3'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="MtvCanceltPortldd_CodErro">
    <xs:annotation>
      <xs:documentation>
        Motivo de Cancelamento da Portabilidade com código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="MtvCanceltPortldd">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name='MtvDcrsoPrzPortldd'>
    <xs:annotation>
      <xs:documentation>
        Motivo do decurso de prazo da portabilidade.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='3'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name='MtvDevLiquidPortldd'>
    <xs:annotation>
      <xs:documentation>
        Motivo da Devolução da Liquidação da Portabilidade.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='3'/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name='MtvRetenContrto'>
    <xs:annotation>
      <xs:documentation>
        Motivo de retenção do contrato.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'>
      <xs:totalDigits value='3'/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="MtvRetenContrto_CodErro">
    <xs:annotation>
      <xs:documentation>
            Motivo de Retenção de Portabilidade com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="MtvRetenContrto">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="NomArqCodErr_ComplexType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="CodErro" type="CodErro" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="Nome">
    <xs:annotation>
      <xs:documentation>
        Nome
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Nome_CodErro">
    <xs:annotation>
      <xs:documentation>
        Nome com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Nome">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="NU">
    <xs:annotation>
      <xs:documentation>
        Número de identificação única.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{21}" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="NU_CodErro">
    <xs:annotation>
      <xs:documentation>
            Identificacao unica gerada pelo CTC com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="NU">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="NumEnd">
    <xs:annotation>
      <xs:documentation>
        Número do imóvel.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="NumEnd_CodErro">
    <xs:annotation>
      <xs:documentation>
        NumEnd com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="NumEnd">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="NumSeq">
    <xs:annotation>
      <xs:documentation>
        Numero sequencial que indica a ordem dos arquivos
        particionados.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="9" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="Percentual">
    <xs:annotation>
      <xs:documentation>
        Número percentual. Até três inteiros e dois decimais. Deve ser informado o ponto separador.
        Exemplo: para 25% informe 25;para 40,5% informe 40.5;para 98,75% informe 98.75
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="2"/>
      <xs:maxInclusive value="999.99"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="Percentual_CodErro">
    <xs:annotation>
      <xs:documentation>
          Valor Percentual com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Percentual">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="Qtd">
    <xs:annotation>
      <xs:documentation>
        Quantidade numerica inteira.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="9" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="Qtd_CodErro">
    <xs:annotation>
      <xs:documentation>
            Quantidade numerica inteira com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Qtd">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="RegmAmtzc">
    <xs:annotation>
      <xs:documentation>
        Regime de amortização
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="RegmAmtzc_CodErro">
    <xs:annotation>
      <xs:documentation>
            Regime de amortização com atributo para retorno de código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="RegmAmtzc">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="SitDevLiquidPortldd">
    <xs:annotation>
      <xs:documentation>
        Situação Devolução Liquidação da Portabilidade
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="SitEftcPortldd">
    <xs:annotation>
      <xs:documentation>
        Situação Efetivação Portabilidade
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="SitLiquidPortldd">
    <xs:annotation>
      <xs:documentation>
        Situação Liquidação Portabilidade
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SitLiquidPortldd_CodErro">
    <xs:annotation>
      <xs:documentation>
        Situação Liquidação Portabilidade com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="SitLiquidPortldd">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="SitParcl">
    <xs:annotation>
      <xs:documentation>
        Situacao da Parcela
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="F" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="SitPortlddCTC">
    <xs:annotation>
      <xs:documentation>
        Código da situação da portabilidade
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SitPortlddCTC_CodErro">
    <xs:annotation>
      <xs:documentation>
        Código da situação da portabilidade com código de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="SitPortlddCTC">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="SitProc">
    <xs:annotation>
      <xs:documentation>
        Situação do processamento
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="SitReq">
    <xs:annotation>
      <xs:documentation>
        Situacao da Requisicao
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SitReq_CodErro">
    <xs:annotation>
      <xs:documentation>
            Situacao da requisicao com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="SitReq">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="SitSolictc">
    <xs:annotation>
      <xs:documentation>
        Situaçao da Solicitação 
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="SitSolictc_CodErro">
    <xs:annotation>
      <xs:documentation>
            Situaçao da Solicitação com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="SitSolictc">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Telefone">
    <xs:annotation>
      <xs:documentation>
        Numero de Telefone com DDD.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Telefone_CodErro">
    <xs:annotation>
      <xs:documentation>
        Telefone com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Telefone">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Texto">
    <xs:annotation>
      <xs:documentation>
        Texto descritivo
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Texto_CodErro">
    <xs:annotation>
      <xs:documentation>
        Texto descritivo com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Texto">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:simpleType name="TipoArq">
    <xs:annotation>
      <xs:documentation>
        Tipo do Arquivo
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
 
  <xs:simpleType name="TipoArquivoEnviado">
    <xs:annotation>
      <xs:documentation>
        Tipo do Arquivo Enviado
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="TipoRelatorio">
    <xs:annotation>
      <xs:documentation>
        Tipo de Relatório
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="TpContrto">
    <xs:annotation>
      <xs:documentation>
        Tipo de contrato de acordo com a dicionario de dominios
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="4" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="TpContrto_CodErro">
    <xs:annotation>
      <xs:documentation>
          Tipo de contrato com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="TpContrto">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="TpEnteCons">
    <xs:annotation>
      <xs:documentation>
        Tipo de Ente Consignante
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TpEnteCons_CodErro">
    <xs:annotation>
      <xs:documentation>
        Tipo de Ente Consignante com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="TpEnteCons">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="TpPessoa">
    <xs:annotation>
      <xs:documentation>
        Tipo de Pessoa Destinatario.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="F" />
      <xs:enumeration value="J" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="TpPessoa_CodErro">
    <xs:annotation>
      <xs:documentation>
            Tipo de Pessoa com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="TpPessoa">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="TpTaxa">
    <xs:annotation>
      <xs:documentation>
        Tipo de Taxa
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="TpTaxa_CodErro">
    <xs:annotation>
      <xs:documentation>
            Tipo de Taxa
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="TpTaxa">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="UF">
    <xs:annotation>
      <xs:documentation>
        Sigla do estado (unidade da federação)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="UF_CodErro">
    <xs:annotation>
      <xs:documentation>
        UF com código de erro
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="UF">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Valor">
    <xs:annotation>
      <xs:documentation>
        Valor. Até dezessete inteiros e dois decimais e sinalizado.
        Para valores menores que zero, o valor sera precedido pelo sinal '-'.
        Exemplo: para 20 negativo informe -20. Deve ser informado o ponto separador caso tenha decimais.
        Exemplo: para R$100,00 informe 100; para R$100,10 informe 100.1;
        para R$100,11 informe 100.11; para R$100,11 negativo informe -100.11
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="19"/>
      <xs:fractionDigits value="2"/>
      <xs:minExclusive value="-1000000000000000000"/>
      <xs:maxExclusive value="1000000000000000000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Valor_CodErro">
    <xs:annotation>
      <xs:documentation>
          Valor com atributo para retorno de codigo de erro.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Valor">
        <xs:attribute name="CodErro" type="CodErro" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <!-- Definição para retorno de codigo de erro -->
  
  <xs:simpleType name="CodErro">
    <xs:annotation>
      <xs:documentation>
          Codigo de erro. Vide tabela de codigo de erros no Manual de Leiautes.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="8" />
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  
  <!-- Definição de Grupos e do tipos do evento -->
  
  <xs:complexType name="Grupo_EftcPortldd_ComplexType">
    <xs:sequence>
      <xs:element name="DtEftcPortldd" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Efetivação Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SitEftcPortldd" type="SitEftcPortldd">
        <xs:annotation>
          <xs:documentation>
            Situação Efetivação Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrRCO" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor do RCO
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Grupo_PortlddRetd_ComplexType">
    <xs:annotation>
      <xs:documentation>
        Grupo Portabilidade Contrato Retida
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MtvRetenContrto" type="MtvRetenContrto_CodErro">
        <xs:annotation>
          <xs:documentation>
            Motivo Retenção Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtRetenContrto" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Retenção Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CNPJCes" type="CNPJ_CodErro" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            CNPJ do Cessionário
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_PortlddCancel_ComplexType">
    <xs:annotation>
      <xs:documentation>
        Grupo Portabilidade Contrato Cancelada
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MtvCanceltPortldd" type="MtvCanceltPortldd">
        <xs:annotation>
          <xs:documentation>
            Motivo Cancelamento Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtCanceltPortldd" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Cancelamento Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Grupo_SitLiquidPortldd_ComplexType">
    <xs:annotation>
      <xs:documentation>
        Grupo Situação Liquidação Portabilidade Contrato
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SitLiquidPortldd" type="SitLiquidPortldd">
        <xs:annotation>
          <xs:documentation>
            Situação Liquidação Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtSitLiquidPortldd" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Situação Liquidação Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MtvDevLiquidPortldd" type="MtvDevLiquidPortldd" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Motivo Devolução Liquidação Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC10x_PropPortlddComplexType">
    <xs:sequence>
       <xs:element name="DtRefSaldDevdrContb" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Referência Saldo Devedor Contábil para Proposta
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrSaldDevdrContb" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Saldo Devedor Contábil para Proposta
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxJurosNoml" type="Percentual_CodErro">
        <xs:annotation>
          <xs:documentation>
            Taxa Juros Nominal % a.a.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxJurosEft" type="Percentual_CodErro">
        <xs:annotation>
          <xs:documentation>
            Taxa Juros Efetiva % a.a.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxCET" type="Percentual_CodErro">
        <xs:annotation>
          <xs:documentation>
            Taxa CET
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodMoeda" type="CodMoeda_CodErro">
        <xs:annotation>
          <xs:documentation>
            Código Moeda Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndRemun" type="IndRemun_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Índice Remuneração
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegmAmtzc" type="RegmAmtzc_CodErro">
        <xs:annotation>
          <xs:documentation>
            Regime Amortização
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtContrOp" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Contratação Operação
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QtdTotParclContrto" type="Qtd_CodErro">
        <xs:annotation>
          <xs:documentation>
            Quantidade Total Parcelas Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrFaceParclContrto" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Face Parcelas Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencPrimParclContrto" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Primeira Parcela Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencUltParclContrto" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Última Parcela Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC20x_CalcSaldDevdrComplexType">
    <xs:sequence>
      <xs:element name="DtRefCalcSaldDevdr" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Referência Cálculo Saldo Devedor Contábil
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrCalcSaldDevdr" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Cálculo Saldo Devedor Contábil
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="Grupo_ACTC20x_PropPortlddComplexType">
    <xs:sequence>
      <xs:element name="DtRefSaldDevdrContb" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Referência Saldo Devedor Contábil para Proposta
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrSaldDevdrContb" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Saldo Devedor Contábil
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpContrtoProp" type="TpContrto_CodErro">
        <xs:annotation>
          <xs:documentation>
            Tipo Contrato para Proposta
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpTx" type="TpTaxa_CodErro">
        <xs:annotation>
          <xs:documentation>
            Tipo Taxa
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxJurosNoml" type="Percentual_CodErro">
        <xs:annotation>
          <xs:documentation>
            Taxa Juros Nominal % a.a.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxJurosEft" type="Percentual_CodErro">
        <xs:annotation>
          <xs:documentation>
            Taxa Juros Efetiva % a.a.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TxCET" type="Percentual_CodErro">
        <xs:annotation>
          <xs:documentation>
            Taxa Juros CET
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CstEftSegrHabtnl" type="Percentual_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Custo Efetivo Seguro Habitacional
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrAvalDFI" type="Valor_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor Avaliação DFI para Proposta
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrzOp" type="Qtd_CodErro">
        <xs:annotation>
          <xs:documentation>
            Prazo Operação (em meses)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodMoeda" type="CodMoeda_CodErro">
        <xs:annotation>
          <xs:documentation>
            Código Moeda Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IndRemun" type="IndRemun_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Índice Remuneração
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RegmAmtzc" type="RegmAmtzc_CodErro">
        <xs:annotation>
          <xs:documentation>
            Regime Amortização
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrParclInial" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Parcela Inicial (Zero)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrParclAmtzInial" type="Valor_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor Parcela Amortização Inicial (Zero)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrParclJurosInial" type="Valor_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Valor Parcela Juros Inicial (Zero)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PremMIPInial" type="Valor_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Prêmio MIP Inicial (Zero)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PremDFIInial" type="Valor_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Prêmio DFI Inicial (Zero)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TarMesInial" type="Valor_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Tarifa Mensal Inicial (Zero)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencPrimParcl" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Primeira Parcela
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencUltParcl" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Última Parcela
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC20x_PortlddRetdComplexType">
    <xs:sequence>
      <xs:element name="MtvRetenContrto" type="MtvRetenContrto_CodErro">
        <xs:annotation>
          <xs:documentation>
            Motivo Retenção Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtRetenContrto" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Retenção Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpContrtoOr" type="TpContrto_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Tipo Contrato Original
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CPF_Titlr" type="CPF_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            CPF Titular
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CondcDivgte" type="CondcDivgte_CodErro" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Condição Divergente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CNPJCes" type="CNPJ_CodErro" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            CNPJ do Cessionário
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ParclNorml_ComplexType">
    <xs:sequence>
      <xs:element name="VlrFaceParclContrto" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Face Parcelas Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencPrimParclContrto" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Primeira Parcela Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencUltParclContrto" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Última Parcela Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC303_ParclNormlComplexType">
    <xs:sequence>
      <xs:element name="VlrFaceParclContrto" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Face Parcelas Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtPrimParclContrtoVencr" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Primeira Parcela Contrato em Aberto
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencUltParclContrto" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Última Parcela Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ParclIrreglr_ComplexType">
    <xs:sequence>
      <xs:element name="DtVencParclIrreglr" type="Data_CodErro">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Parcela Irregular
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrFaceParclIrreglr" type="Valor_CodErro">
        <xs:annotation>
          <xs:documentation>
            Valor Face Parcela Irregular
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_PortlddActo_ComplexType">
    <xs:sequence>
      <xs:element name="IdentdPartAdmdo" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
            Identificador do participante administrado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NUPortlddCTC" type="NU">
        <xs:annotation>
          <xs:documentation>
            Número Portabilidade CTC
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumCtrlIF" type="ControleIF">
        <xs:annotation>
          <xs:documentation>
            Número Controle IF
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC_CliComplexType_CodErro">
    <xs:sequence>
      <xs:element name="TpCli" type="TpPessoa_CodErro">
        <xs:annotation>
          <xs:documentation>
            Tipo Cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CNPJ_CPFCli" type="CNPJ_CPF_CodErro">
        <xs:annotation>
          <xs:documentation>
            CNPJ ou CPF do cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NomCli" type="Nome_CodErro" >
        <xs:annotation>
          <xs:documentation>
            Nome do cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TelCli" type="Telefone_CodErro">
        <xs:annotation>
          <xs:documentation>
            Telefone do cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EmailCli" type="Email_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            E-mail do cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_IdentdContrto_ComplexType">
    <xs:annotation>
      <xs:documentation>
        Grupo Identificador Contrato
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CodContrtoOr" type="CodContrtoOr_CodErro">
        <xs:annotation>
          <xs:documentation>
            Código Contrato Original
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CNPJBase_IFOrContrto" type="CNPJBase_CodErro">
        <xs:annotation>
          <xs:documentation>
            CNPJ Base da IF originadora do Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpContrto" type="TpContrto_CodErro">
        <xs:annotation>
          <xs:documentation>
            Tipo Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC10X_IdentdContrtoComplexType">
    <xs:complexContent>
      <xs:extension base="Grupo_IdentdContrto_ComplexType">
        <xs:sequence>
          <xs:element name="TpEnteCons" type="TpEnteCons_CodErro">
            <xs:annotation>
              <xs:documentation>
                Tipo de Ente Consignante
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CNPJCorrespBanc" type="CNPJ_CodErro">
            <xs:annotation>
              <xs:documentation>
                CNPJ do Correspondente Bancário
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Grupo_EndCartaPortldd_ComplexType">
    <xs:annotation>
      <xs:documentation>
        Grupo Endereço Carta Portabilidade
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LogradEndCartaPortldd" type="Texto_CodErro">
        <xs:annotation>
          <xs:documentation>
            Logradouro Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompEndCartaPortldd" type="Texto_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Complemento Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumEndCartaPortldd" type="NumEnd_CodErro">
        <xs:annotation>
          <xs:documentation>
            Número Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CidEndCartaPortldd" type="CidEnd_CodErro">
        <xs:annotation>
          <xs:documentation>
            Cidade Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UFEndCartaPortldd" type="UF_CodErro">
        <xs:annotation>
          <xs:documentation>
            UF Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CEPEndCartaPortldd" type="CEP_CodErro">
        <xs:annotation>
          <xs:documentation>
            CEP Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_EndImovl_ComplexType">
    <xs:annotation>
      <xs:documentation>
        Grupo Endereço Imóvel
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LogradEndImovl" type="Texto_CodErro">
        <xs:annotation>
          <xs:documentation>
            Logradouro Endereço Imóvel
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CompEndImovl" type="Texto_CodErro" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Complemento Endereço Imóvel
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumEndImovl" type="NumEnd_CodErro">
        <xs:annotation>
          <xs:documentation>
            Número Endereço Imóvel
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CidEndImovl" type="CidEnd_CodErro">
        <xs:annotation>
          <xs:documentation>
            Cidade Endereço Imóvel
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UFEndImovl" type="UF_CodErro">
        <xs:annotation>
          <xs:documentation>
            UF Endereço Imóvel
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CEPEndImovl" type="CEP_CodErro">
        <xs:annotation>
          <xs:documentation>
            CEP Endereço Imóvel
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC_IFDestLiqContrtoComplexType_CodErro">
    <xs:sequence>
      <xs:element name="CNPJIFDestLiquidContrto" type="CNPJ_CPF_CodErro" />
      <xs:element name="NumCcoDigtDestLiquidContrto" type="CtBancaria_CodErro"/>
      <xs:element name="BcoDestLiquidContrto" type="CodIF_CodErro" />
      <xs:element name="AgDestLiquidContrto" type="Agencia_CodErro" />
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC20X_EndRefCartaPortComplexType">
    <xs:sequence>
      <xs:element name="CEPEndRefCartaPort" type="CNPJBase_CodErro"  />
      <xs:element name="NumEndRefCartaPort" type="ControleIF_CodErro" />
      <xs:element name="CompEndRefCartaPort" type="Nome" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ACTC901ComplexType">
    <xs:sequence>
      <xs:element name="AnoMesRefApurc" type="AnoMes">
        <xs:annotation>
          <xs:documentation>
            Ano/mês de referência apuração
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_ACTC901_RCOARecb" type="Grupo_ACTC901_RCOARecb_ComplexType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Grupo RCO a receber
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_ACTC901_RCOAPagar" type="Grupo_ACTC901_RCOAPagar_ComplexType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Grupo RCO a receber
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC901_RCOARecb_ComplexType">
    <xs:sequence>
      <xs:element name="IdentdPartAdmdo" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
            Identificador do participante administrado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISPBCtrapart" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
            ISPB Contraparte
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpContrto" type="TpContrto">
        <xs:annotation>
          <xs:documentation>
            Tipo Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpEnteCons" type="TpEnteCons" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Tipo de Ente Consignante
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodContrtoOr" type="CodContrtoOr">
        <xs:annotation>
          <xs:documentation>
            Código Contrato Original
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NUPortlddCTC" type="NU">
        <xs:annotation>
          <xs:documentation>
            Número Portabilidade CTC
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtContrOp" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Contratação Operação
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencUltParclContrto" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Última Parcela Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtRefSaldDevdrContb" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Referência Saldo Devedor Contábil
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrSaldDevdrContb" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor Saldo Devedor Contábil
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrBaseCalcRCO" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor Base Cálculo RCO
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtMovtoSTRLiquid" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Movimento STR Liquidação
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrSTRLiquidPortldd" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor STR Liquidação Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrRCOARecb" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor RCO a Receber
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Grupo_ACTC901_RCOAPagar_ComplexType">
    <xs:sequence>
      <xs:element name="IdentdPartAdmdo" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
            Identificador do participante administrado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISPBCtrapart" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
            ISPB Contraparte
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpContrto" type="TpContrto">
        <xs:annotation>
          <xs:documentation>
            Tipo Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TpEnteCons" type="TpEnteCons" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Tipo de Ente Consignante
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodContrtoOr" type="CodContrtoOr">
        <xs:annotation>
          <xs:documentation>
            Código Contrato Original
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NUPortlddCTC" type="NU">
        <xs:annotation>
          <xs:documentation>
            Número Portabilidade CTC
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtContrOp" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Contratação Operação
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtVencUltParclContrto" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Vencimento Última Parcela Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtRefSaldDevdrContb" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Referência Saldo Devedor Contábil
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrSaldDevdrContb" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor Saldo Devedor Contábil
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrBaseCalcRCO" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor Base Cálculo RCO
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtMovtoSTRLiquid" type="Data">
        <xs:annotation>
          <xs:documentation>
            Data Movimento STR Liquidação
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrSTRLiquidPortldd" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor STR Liquidação Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VlrRCOAPagar" type="Valor">
        <xs:annotation>
          <xs:documentation>
            Valor RCO a pagar
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ISPBBcoPagtoRCO" type="CNPJBase" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            ISPB Banco Pagamento RCO
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodBcoPagtoRCO" type="CodIF" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Código Banco para Pagamento RCO
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AgBancPagtoRCO" type="Agencia" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Agência Bancária para Pagamento RCO
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CtBancPagtoRCO" type="CtBancaria" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Conta Bancária para Pagamento RCO
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


	<!-- Definição do ACTCDOC -->
	<xs:complexType name="ACTCDOCComplexType">
		<xs:sequence>
			<xs:element name="BCARQ" type="BCARQComplexType" />
			<xs:element name="SISARQ" type="SISARQComplexType" />
			<xs:element name="ESTARQ" type="ESTARQSimpleType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- Definição do ACTCDOC -->
	<xs:element name="ACTCDOC" type="ACTCDOCComplexType">
		<xs:annotation>
			<xs:documentation>
			</xs:documentation>
		</xs:annotation>
	</xs:element>	

	<!-- Definição do SISARQ -->
	<xs:complexType name="SISARQComplexType">
		<xs:choice>
			<xs:element name="ACTC101" type="ACTC101ComplexType">
				<xs:annotation>
					<xs:documentation>
						<cat:InfMensagem>
							<cat:Mensagem>Instituição solicita transferência de contrato de crédito consignado</cat:Mensagem>
							<cat:Emissor>IF Proponente</cat:Emissor>
							<cat:Destinatario>CTC</cat:Destinatario>
						</cat:InfMensagem>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ACTC101RET" type="ACTC101RETComplexType">
				<xs:annotation>
					<xs:documentation>
						<cat:InfMensagem>
							<cat:Mensagem>CTC informa resposta de solicitação de transferência de contrato de crédito consignado</cat:Mensagem>
							<cat:Emissor>CTC</cat:Emissor>
							<cat:Destinatario>IF Proponente</cat:Destinatario>
						</cat:InfMensagem>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>


	<xs:complexType name="ACTC101ComplexType">
		<xs:sequence>
      <xs:element name="Grupo_ACTC101_Portldd" type="Grupo_ACTC101_PortlddComplexType" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Grupo Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Grupo_ACTC101_PortlddComplexType">
		<xs:sequence>
      <xs:element name="IdentdPartAdmdo" type="CNPJBase">
        <xs:annotation>
          <xs:documentation>
            Identificador do participante administrado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumCtrlIF" type="ControleIF">
        <xs:annotation>
          <xs:documentation>
            Número de controle IF do contrato para a portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_ACTC101_IdentdContrto" type="Grupo_ACTC10X_IdentdContrtoComplexType">
        <xs:annotation>
          <xs:documentation>
            Grupo Identificador Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="Grupo_ACTC101_Cli" type="Grupo_ACTC_CliComplexType_CodErro">
        <xs:annotation>
          <xs:documentation>
            Grupo Cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_ACTC101_PropPortldd" type="Grupo_ACTC10x_PropPortlddComplexType">
        <xs:annotation>
          <xs:documentation>
            Grupo Proposta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_ACTC101_EndCartaPortldd" type="Grupo_EndCartaPortldd_ComplexType">
        <xs:annotation>
          <xs:documentation>
            Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ACTC101RETComplexType">
		<xs:sequence>
			<xs:element name="Grupo_ACTC101RET_PortlddActo" type="Grupo_PortlddActo_ComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Grupo Portabilidade Aceita
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grupo_ACTC101RET_PortlddRecsd" type="Grupo_ACTC101RET_PortlddRecsdComplexType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Grupo Portabilidade Recusada
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Grupo_ACTC101RET_PortlddRecsdComplexType">
    <xs:sequence>
      <xs:element name="IdentdPartAdmdo" type="CNPJBase_CodErro">
        <xs:annotation>
          <xs:documentation>
            Identificador do participante administrado
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumCtrlIF" type="ControleIF_CodErro">
        <xs:annotation>
          <xs:documentation>
            Número de controle IF do contrato para a portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_ACTC101RET_IdentdContrto" type="Grupo_ACTC10X_IdentdContrtoComplexType">
        <xs:annotation>
          <xs:documentation>
            Grupo Identificador Contrato
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="Grupo_ACTC101RET_Cli" type="Grupo_ACTC_CliComplexType_CodErro">
        <xs:annotation>
          <xs:documentation>
            Grupo Cliente
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Grupo_ACTC101RET_PropPortldd" type="Grupo_ACTC10x_PropPortlddComplexType">
        <xs:annotation>
          <xs:documentation>
            Grupo Proposta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
        <xs:element name="Grupo_ACTC101RET_EndCartaPortldd" type="Grupo_EndCartaPortldd_ComplexType">
        <xs:annotation>
          <xs:documentation>
            Endereço Carta Portabilidade
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="CodErro" type="CodErro" use="optional"/>
	</xs:complexType>

</xs:schema>